<div class="card" style="width: 18rem; ">
    <img src="./emp1.png" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">info personal del empleado</p>
        <ngb-rating [rate]="3" [max]="5" [readonly]="true"></ngb-rating>
    </div>
</div>




<button type="button" class="btn btn-warning">Edit profile</button>

<div class="card" style='width:50%'>
    <div class="card-body">
        <div class ="text-description">
            <h2>Nombre del servicio</h2>
            <p>DESCRIPCIÓN DEL SERIVCIO A PROVEER</p>
        </div>
        
    </div>
</div>