<app-header></app-header>
<div class="container mt-5 lg" id="container-white">
  <h2 class="mt-6 mb-2"> Servicio de</h2> <!--Codigo para que diga la cetegoria que es-->
  <div class="row">
    
    <div class=" col-sm-6 center-properties pos-2 mr-2">
       
      <div class="card mb-3 border-0">
        <img class="card-img-top img-fluid" src="../../../assets/limpieza.jpg" alt="Card image cap">
          <h5 class="card-title mt-2 mb-0">Descripcíon</h5>
          <p class="card-text mt-1">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          
        <div class="row">
          <div class="col-sm-6">
            
            <p class="card-text heading">Duración promedio:</p>
            <p class="card-text content">tiempo</p>
              
          </div>
          
          <div class="col-sm-6">
            <p class="card-text heading">Calidad garantizada</p>
            <p class="card-text content">IMAGEN</p>
          </div>
        </div>

      </div>
    </div>

    <div class="col-sm-6 center-properties pos-1">
      <h3 class="pt-0 mt-0">Selecciona el horario de tu servicio </h3>
    </div>

  </div>
</div>
<div class="container mt-4">
  <form>
    <input class="form-control form-control-sm border-0" type="text" placeholder="Deja una nota extra">
  </form>
</div>
<app-footer></app-footer>
