<app-header></app-header>
<div class="container mt-5 lg" id="container-white">
  <h2 class="mt-6 mb-2">{{serviced.name}}</h2>
  <!--Codigo para que diga la cetegoria que es-->
  <div class="row">

    <div class=" col-sm-6 center-properties pos-1 mr-2">

      <div class="card mb-3 border-0">
        <img class="card-img-top img-fluid" src="{{serviced.media.serviceAvatar}}" alt="Card image cap">
        <h5 class="card-title mt-2 mb-0">Descripcíon</h5>
        <p class="card-text mt-3">{{serviced.desc}}</p>
        <!-- <p class="card-text mt-1"><b>Incluye</b></p>
        <ol class="card-text mt-1 mb-0">- Barrida</ol>
        <ol class="card-text mb-0">- Trapeada</ol>
        <ol class="card-text mb-0">- Baños</ol>
        <ol class="card-text mb-4">- Cocina</ol>
        <p class="card-text mt-1"><b>NO Incluye</b></p>
        <ol class="card-text mt-1 mb-5">- Material de trabajo</ol> -->




        <div class="row">
          <div class="col-sm-6">

            <p class="card-text heading">Duración promedio:</p>
            <p class="card-text content tiempo">{{serviced.averageServiceTime}}hr</p>

          </div>

          <div class="col-sm-6">
            <p class="card-text heading">Calidad garantizada</p>
            <img class=" content" height="20px" src="../../../assets/garantia.jfif" alt="Card image cap">
          </div>
        </div>

        <div class="row d-flex justify-content-end">
          <div class="col-sm-6 text-right">

            <p class="card-text heading">Costo:</p>
            <p class="card-text content costo">{{serviced.cost}}MX</p>

          </div>
        </div>

      </div>
    </div>

    <div class="col-sm-6 center-properties pos-2">
      <h5 class="card-title pt-0 mt-0">Selecciona el horario de tu servicio </h5>
      <full-calendar [options]="calendarOptions"></full-calendar>
    </div>

  </div>
</div>

<div class="container mt-4">
  <form>

    <div class="form-row  w-100 d-flex justify-content-end">
      <div class="col-md-6 text-right">
        <!-- <div class="form-group text-right">
          <div class="input-group w-100">
            <textarea class="form-control" aria-label="With textarea" placeholder="Deja una nota extra"></textarea>
          </div>
        </div> -->

        <div class="form-group ">
          <button class="btn btn-primary mt-3 px-5 float-end " type="submit">Pedir servicio</button>
        </div>

      </div>

    </div>

  </form>
</div>


<app-footer></app-footer>