<app-header></app-header>
<div class="container mt-5">
  <div class="main-body">
    <div class="row gutters-sm">
      <div class="col-md-3 mb-3 ">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center">
              <img [src]="user.avatar" alt="Admin" class="square" width="150">
              <div class="mt-3">
                <div class="row mt-4">
                  <div class="col-sm-6">
                    <h6 class="mb-0 card-text heading">Full Name</h6>
                  </div>
                  <div class="col-sm-5 card-text">
                    {{user.firstName}} {{user.lastName}}
                  </div>
                </div>

                <div class="row mt-4">
                  <div class="col-sm-6 ">
                    <h6 class="mb-0 card-text heading">Birthday</h6>
                  </div>
                  <div class="col-sm-3 card-text">
                    {{user.dateOfBirth | date}}
                  </div>
                </div>



              </div>
            </div>
          </div>
        </div>
        <div class="row gutter-sm">
          <div class="col-md-8 col-centered">
            <div class="row mt-2">
              <button class="btn btn-primary mt-3 px-5 float-end " type="submit">Ver mas</button>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-6">
        <div class="card mr-auto" style="color:black; max-width: 800px;">
          <div class="card-body d-flex flex-column align-items-center p-5">
            <h2>Favoritos</h2>

            <!-- <div class="container d-flex flex-column align-items-center mt-3" style="max-width: 600px;">

              <h5>Placeholder title</h5>
              <img
                src="https://images.unsplash.com/photo-1605152276897-4f618f831968?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                alt="" style="max-width: 300px;">

              <div class="mt-1 mb-3">
                <div class="row mt-4">
                  <div class="col-sm-6">
                    <h6 class="mb-0 card-text heading">Nombre</h6>
                  </div>
                  <div class="col-sm-5 card-text">
                    Lorem ipsum
                  </div>
                </div>

                <div class="row mt-4">
                  <div class="col-sm-6 ">
                    <h6 class="mb-0 card-text heading">Precio</h6>
                  </div>
                  <div class="col-sm-4 card-text">
                    $50
                  </div>
                </div>

                <div class="row mt-4">
                  <div class="col-sm-6">
                    <h6 class="mb-0 card-text heading">Fecha</h6>
                  </div>
                  <div class="col-sm-6 card-text">
                    20-10-2022
                  </div>
                </div>

              </div>
              <div class="row ">
                <div class="col-md-8 col-centered">
                  <div class="card-text lighter text-center">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta ullam, optio pariatur placeat
                    corporis nesciunt ad
                    molestias est rerum iure sed laboriosam voluptatum eligendi provident facere ab, quas quasi in?
                  </div>
                </div>
              </div>

              <div class="row mt-2">
                <button class="btn btn-primary mt-3 px-5 float-end " type="submit">Ver mas</button>
              </div>
              
            </div> -->

            <div *ngIf="services" class="card mt-5 mx-auto" style="max-width: 700px;" *ngFor="let service of services">
              <app-service-card [isFavorite]="user.favoriteServices.includes(service._id)" [isLoggedIn]="!!user"
                (favoriteEvent)="favoriteEventListener($event)" [service]="service"></app-service-card>
            </div>
            <h3 *ngIf="!services">No hay servicios favoritos</h3>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>