
<app-header></app-header>
 <!-- <div class="bg"></div>  -->
 
  <!-- <img class="img-fluid" style="max-width:100%; max-height:100%" src="https://img.freepik.com/free-photo/interior-has-armchair-empty-white-wall-background-3d-rendering_41470-1785.jpg?w=2000&t=st=1668618063~exp=1668618663~hmac=9d288541951ea9039474411a42493450296b3f8c20a95153d1033a6cd44878ba;
"> -->






<div class="bg dashed-box">

  <div class="row d-flex">
    <div class="col-sm-6 ">
      <div class="card mt-5 ms-5 ">
        <div class="card-body">
          <p class="card-text">Bienvenido a YUVA</p>
          <h1 class="card-title">Regístrate</h1>
          <a href="#" class="btn btn-primary">Yuvero</a>
          <a href="#" class="btn btn-primary">Contratista</a>
        </div>
      </div>
    </div>
  </div>  

</div>

  


<app-footer></app-footer>
