
// body,html {
//   height: 100%;
// }

.bg {
  /* The image used */
  background-image: url("https://img.freepik.com/free-photo/interior-has-armchair-empty-white-wall-background-3d-rendering_41470-1785.jpg?w=2000&t=st=1668618063~exp=1668618663~hmac=9d288541951ea9039474411a42493450296b3f8c20a95153d1033a6cd44878ba)");
  /* Full height */
  height: 42vw;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-title{
    font-size: 2rem;
    text-align: center;
}
// .wrapper {
//     position: relative;
//   }

//   .dashed-box {
//     position: relative;
//     z-index: 1;
//   }

 .card-text{
    font-size: 1.5rem;
 }

 .secundary-text{
   color: #8d8d8d;
 }

 .login-button{
  text-decoration: none;
 }