<app-header></app-header>
<!-- <div class="bg"></div>  -->

<!-- <img class="img-fluid" style="max-width:100%; max-height:100%" src="https://img.freepik.com/free-photo/interior-has-armchair-empty-white-wall-background-3d-rendering_41470-1785.jpg?w=2000&t=st=1668618063~exp=1668618663~hmac=9d288541951ea9039474411a42493450296b3f8c20a95153d1033a6cd44878ba;
"> -->

<div class="bg-image has-bg-img bg-blend-screen"
  style=" background-image: url('../../../assets/bg_login.png'); height: 100vh; background-size: cover; background-repeat: no-repeat;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-end align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5">

            <h3 class="mb-2 text-left fweigt">Bienvenido a <span class="b-blue">YU</span>
              <span class="b-yellow">VA</span>
            </h3>
            <h2 class="mb-5 text-left fweigtsub">Elige tu tipo de usario</h2>
            <form #contractorForm = "ngForm" (ngSubmit)="getUserFormData(contractorForm.value)">
              <div class="form-outline mb-4">
                <label class="form-label">Email</label>
                <input type="text" name="email" ngModel class="form-control form-control-lg" placeholder="Ingresa tu correo" />
              </div>

              <div class="form-outline mb-4">
                <label class="form-label">Password</label>
                <input type="text" name="password" ngModel class="form-control form-control-lg" placeholder="Ingresa tu contraseña" />
              </div>

              <!-- <div class="form-outline mb-4">
                <label class="form-label">Tipo de usuario*</label>
                <select class="form-select" ngModel name="serviceCategory">
                  <option>contractor</option>
                  <option>employee</option>
                </select>
              </div> -->
              <div class="form-outline mb-4">
                  <label class="form-label">Tipo de usuario*</label>
                  <select class="form-select" ngModel name="serviceCategory">
                    <option>contractor</option>
                    <option>employee</option>
                  </select>
                </div>
              <div class="d-flex justify-content-center">
                <button type="submit"
                  class="btn btn-primary btn-block btn-lg gradient-custom-4 text-body mt-2">Iniciar sesion</button>
              </div>

            </form>
            <!-- <div class="text-center mb-3">
              <button type="button" class="btn btn-primary google_log mb-5" (click)="loginWithGoogleYuvero()" >Yuvero</button>
              
              <br>
              <button  type="button" class="btn btn-primary google_log" (click)="loginWithGoogleCliente()" >Contratista</button>
              <!-- <asl-google-signin-button text="signin_with" #clientebtn type='standard' size='medium' data-text="Cliente"  >Cliente</asl-google-signin-button> -->
            <!-- </div>  -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer-for-register></app-footer-for-register>