
<app-header></app-header>
<!-- <img src="https://img.freepik.com/free-photo/interior-has-armchair-empty-white-wall-background-3d-rendering_41470-1785.jpg?w=2000&t=st=1668618063~exp=1668618663~hmac=9d288541951ea9039474411a42493450296b3f8c20a95153d1033a6cd44878ba;
"> -->

<!-- <div >
     class=""  style="max-width: 70vw" -->
    <!-- <div class="d-grid gap-2 col-6 mx-auto pt-5">
        <button class="btn btn-primary" type="button">Yuvero</button>
        <button class="btn btn-primary" type="button">Contratista</button>
      </div>

      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div> 

      <div class="row d-flex">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Yuvero</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Registrar</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Contratista</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Registrar</a>
            </div>
          </div>
        </div>
      </div>


</div> -->
<div class="bg">

<div class="row d-flex">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <p class="card-text">Bienvenido a YUVA</p>
        <h1 class="card-title">Regístrate</h1>
        <a href="#" class="btn btn-primary">Yuvero</a>
        <a href="#" class="btn btn-primary">Contratista</a>
      </div>
    </div>
  </div>
  
</div>

<app-footer></app-footer>
