body footre{
  background-color: #F3F5F9;
}

/* Vector 7 */
.line_footer{
  content:"";
  // position: absolute;
  width: 14rem;
  height: 0rem;
  // left: 608px;
  // top: 719px;
  border-radius: 1rem;
  border: 0.1875rem solid #FFCD38;
  background: #FFCD38;
}

