.navbar-color {
  background-color: #055CF5;
}

/* change the brand and text color */
.navbar-brand{
    color: #ffffff; 
    font-weight: bold;  
}


/* change the link color */
.navbar-nav .nav-link {
  color: #ffffff;
  font-family: Poppins !important;
  font-size: 14px
}


.nav-yellow, a.nav-item.nav-link:hover{
  color: #FFCD38;
}

.nav-bold{
  font-weight: 600;
}

