<div class="row justify-content-center pt-5">
  <div class="col-md-6">

    <div class="card mr-auto" style="color:black; max-width: 800px;">
      <div class="card-body d-flex flex-column align-items-center p-5">
        <h2>Invitacion</h2>

        <div class="container d-flex flex-column align-items-center mt-2" style="max-width: 600px;">

          <div class="mt-1 mb-3">
            <div class="row mt-4">
              <div class="col-sm-6">
                <h6 class="mb-0 card-text heading">Contratista</h6>
              </div>
              <div class="col-sm-5 card-text">
                {{invitation.contractorName}}
              </div>
            </div>

            <div class="row mt-4">
              <div class="col-sm-6 ">
                <h6 class="mb-0 card-text heading">Empleado</h6>
              </div>
              <div class="col-sm-4 card-text">
                {{invitation.employeeName}}
              </div>
            </div>

            <div class="row mt-4">
              <div class="col-sm-6">
                <h6 class="mb-0 card-text heading">Telefono empleado:</h6>
              </div>
              <div class="col-sm-6 card-text">
                {{invitation.employeePhoneNumber}}
              </div>
            </div>

            <div class="row mt-4">
              <div class="col-sm-6">
                <h6 class="mb-0 card-text heading">Fecha:</h6>
              </div>
              <div class="col-sm-6 card-text">
                {{invitation.confirmedServiceDate | date}}
              </div>
            </div>

            <div class="row mt-4">
              <div class="col-sm-6">
                <h6 class="mb-0 card-text heading">Tiempo total del servicio:</h6>
              </div>
              <div class="col-sm-6 card-text">
                {{invitation.serviceTotalTime}}
              </div>
            </div>

            <div class="row mt-4">
              <div class="col-sm-6">
                <h6 class="mb-0 card-text heading">Direccion:</h6>
              </div>
              <div class="col-sm-6 card-text">
                {{invitation.serviceAddress}}
              </div>
            </div>

            <div class="row mt-4">
              <div class="col-sm-6">
                <h6 class="mb-0 card-text heading">Costo:</h6>
              </div>
              <div class="col-sm-6 card-text">
                {{invitation.cost}}
              </div>
            </div>

          </div>

          <div class="col d-flex justify-content-center">
            <button *ngIf="!decisionClicked" (click)="acceptInvitation()" class="btn btn-primary mt-3 px-5 float " type="submit">Aceptar</button>
            <span class="tab"></span>
            <button *ngIf="!decisionClicked" (click)="rejectInvitation()" class="btn btn-primary mt-3 px-5 float "
              type="submit">Rechazar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>