<div class="card mt-5 mx-auto" style="max-width: 700px;">

  <div class="card-body align-items-center d-flex ">
    <div class="row no-gutters">
      <div class="col-md-4 align-self-center justify-content-center col-sm-9 mb-3 mt-3">
        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="square img-fluid mx-auto d-block" width="200">
      </div>
      <div class="col-md-8 px-3 align-self-center ">
        <div class="card-block px-3">
          <h4 class="card-title">Placeholder title</h4>
          <p class="card-text lighter">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat. </p>
          <button class="btn btn-primary float-end ">Pedir servicio</button>
          <button class="btn btn float-end me-1">Estrella</button>
        </div>
      </div>
    </div>
  </div>
</div>