  <div class="card-body align-items-center d-flex ">
    <div class="row no-gutters">
      <div class="col-md-4 align-self-center justify-content-center col-sm-9 mb-3 mt-3">
        <img src={{service.media.serviceAvatar}} class="square img-fluid mx-auto d-block" width="200">
      </div>
      <div class="col-md-8 px-3 align-self-center ">
        <div class="card-block px-3">
          <h4 class="card-title">{{service.name}}</h4>
          <p class="card-text lighter">{{service.desc}}</p>

          <button (click)="selectService(service._id)" class="btn btn-primary float-end" >Pedir servicio</button>
          <!-- <button class="btn btn float-end me-1">Estrella</button> -->

          <svg *ngIf="isLoggedIn" (click)="clickFavorite() " xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="orange"
            [attr.fill]="isFavorite?'orange':'lightgrey' " class="bi bi-star-fill" viewBox="0 0 16 16">
            <path
              d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
          </svg>
          
        </div>
      </div>
    </div>
  </div>