<div class="history-card card-body d-flex flex-column align-items-center" style="max-width: 600px;"
  *ngFor="let allocation of allocationList">
  <h3>{{allocation.serviceName}}</h3>
  <!-- <div class="d-flex flex-row justyfy-content-between">
    <img src={{allocation.}} class="card-img-top mx-auto" alt="..." style="max-width: 150px">
  </div> -->
  <div class="d-flex flex-row justyfy-content-between">
    <b>Costo:</b>
    <p><span class="tab"></span> {{allocation.cost}}</p>
  </div>
  <div class="d-flex flex-row justyfy-content-between">
    <b>Fecha:</b>
    <p><span class="tab"></span>{{allocation.confirmedServiceDate | date}}</p>
  </div>
  <p>
    {{allocation.serviceStatus}}
  </p>
  <button (click)="goToAllocation(allocation._id);" type="button" class="btn btn-warning mt-5 "
    style="width:150px ;">Ver
    más</button>
</div>