p {
    color: black;
}

b {
    color: darkslategray;
}

.profile-pic {
    margin-bottom: 15%;
    display: block;
}

.edit-button-container {
    display: flex;
    justify-content: center;
}

.history {
    width: 72%;
}
