<app-header></app-header>

<div class="d-flex  flex-wrap flex-md-nowrap justify-content-center mt-5 px-5">
    <div class="mb-5 " style="color:black; overflow: hidden;max-width: 300px;">
        <div class="card">
            <div class="card-body">

                <ng-template [ngIf]="loadedData" class="justify-content-between flex-row">
                    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png"
                        class="card-img-top mx-auto profile-pic" style="max-width: 150px">
                    <div class="justify-content-between flex-row">
                        <b>Nombre:</b>
                        <p>{{user.firstName +' '+user.lastName}}</p>
                        <b>Email:</b>
                        <p>{{user.email}}</p>
                        <b>Número de telefono:</b>
                        <p>{{user.phoneNumber || ''}}</p>
                        <b>Fecha de Nacimiento:</b>
                        <p>{{formattedDob}}</p>
                        <b>Dirección:</b>
                        <p>{{user.address}}</p>
                        <b>Ciudad:</b>
                        <p>{{user.city}}</p>
                        <b>Codigo postal:</b>
                        <p>{{user.zipcode}}</p>
                        <b>Tipo de cuenta:</b>
                        <p>{{user.userType}}</p>
                    </div>
                </ng-template>
            </div>
        </div>
        <!-- <div class="edit-button-container">
            <button type="button" class="btn btn-warning mt-5 " style="width:150px ;">Editar perfil</button>
        </div> -->
    </div>
    <div class="history card flex-shrink-1 ms-5" style="color:black; ">
        <div class="card-body d-flex flex-column align-items-center justify-content-start p-5">
            <h2>Tu servicios contratados</h2>
            <app-servicio-historial [allocationList]="allocations"></app-servicio-historial>

        </div>
    </div>

</div>




<app-footer></app-footer>