<app-header></app-header>
<div class="d-flex justify-content-start mt-5">
    <div class="ms-5 " style="color:black; overflow: hidden;width: 30vw;">
        <div class="card" style="width: 20vw">
            <img src="../../assets/emp1.png" class="card-img-top" alt="..." style="max-height: 15vw">
            <div class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem culpa unde
                    non
                    asperiores consectetur nam tempore ipsa voluptate cupiditate labore deleniti iste rem, soluta sequi
                    possimus, eos dolore. Dolore, totam?
                    Debitis, eos minus fugiat ipsam, animi tempora cumque omnis cum officiis voluptatem a necessitatibus
                    cupiditate. Rerum culpa aut eius quos asperiores eaque sint sit tempora, beatae molestiae autem
                    doloribus cumque?
                </p>
                <ngb-rating [rate]="3" [max]="5" [readonly]="true"></ngb-rating>
            </div>
        </div>
        <button type="button" class="btn btn-warning mt-5 " style="width:150px ;">Editar perfil</button>
    </div>


    <div class="card mr-auto" style="color:black;">
        <div class="card-body">

            <app-servicio-historial></app-servicio-historial>
            <app-servicio-historial></app-servicio-historial>
            <app-servicio-historial></app-servicio-historial>
        </div>
    </div>
</div>




<app-footer></app-footer>