
// body,html {
//   height: 100%;
// }

.bg {
  /* The image used */
  background-image: url("https://img.freepik.com/free-photo/interior-has-armchair-empty-white-wall-background-3d-rendering_41470-1785.jpg?w=2000&t=st=1668618063~exp=1668618663~hmac=9d288541951ea9039474411a42493450296b3f8c20a95153d1033a6cd44878ba)");
  /* Full height */
  height: 42vw;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-title{
    font-size: 2rem;
    text-align: center;
}
// .wrapper {
//     position: relative;
//   }

//   .dashed-box {
//     position: relative;
//     z-index: 1;
//   }

 .card-text{
    font-size: 1.5rem;
 }

 .secundary-text{
   color: #8d8d8d;
 }

 .login-button{
  text-decoration: none;
 }

 .google_log{
  background-color: #FFCD38;
  color: white;
  font-size: 0.90rem;
  font-weight: bold;
  padding: 1rem 1.25rem 1rem 1.25rem;
  border-color: #E9F1FF;
  width: 12.5rem;
  &:hover{
    background-color: #055CF5 !important;
  }
}

.b-yellow{
  color: #FFCD38;
  font-weight: 600;
}

.b-blue{
  color:#055CF5;
  font-weight: 600;
}

.fweigt{
  color: black !important;
  font-size: 2rem !important;
}

.fweigtsub{
  color: black !important;
  font-family: Poppins !important;
  font-weight: bold !important;
  font-size: 3.125rem;
  padding-bottom: 1rem;
}

