<app-header></app-header>
<div class="bg-image has-bg-img bg-blend-screen"
  style=" background-image: url('../../../assets/bg_login.png'); height: 100vh; background-size: cover; background-repeat: no-repeat;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-end align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5">

            <h3 class="mb-2 text-left fweigt">Bienvenido a <span class="b-blue">YU</span>
              <span class="b-yellow">VA</span>
            </h3>
            <h2 class="mb-5 text-left fweigtsub">Inicia Sesión</h2>
            <div class=" mb-3">
              <form #contractorForm = "ngForm" (ngSubmit)="getUserFormData(contractorForm.value)">
                <div class="form-outline mb-4">
                  <label class="form-label">Email</label>
                  <input type="text" name="email" ngModel class="form-control form-control-lg" placeholder="Ingresa tu correo" />
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label">Password</label>
                  <input type="text" name="password" ngModel class="form-control form-control-lg" placeholder="Ingresa tu contraseña" />
                </div>

                <!-- <div class="form-outline mb-4">
                  <label class="form-label">Tipo de usuario*</label>
                  <select class="form-select" ngModel name="serviceCategory">
                    <option>contractor</option>
                    <option>employee</option>
                  </select>
                </div> -->
                <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-primary btn-block btn-lg gradient-custom-4 text-body mt-2">Iniciar sesion</button>
                </div>

              </form>
              <!-- <asl-google-signin-button type='standard' size='medium' logo_alignment="center">Yuvero</asl-google-signin-button>       -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>