<app-header></app-header>

  <div class="mask d-flex align-items-center h-100 gradient-custom-3 mt-5">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-3">Ingrese su información</h2>

              <form #employeeForm = "ngForm" (ngSubmit)="getUserFormData(employeeForm.value)">

                <div class="form-outline mb-4">
                  <label class="form-label">Primer nombre*</label>
                  <input type="text" ngModel name= "firstName" class="form-control form-control-lg" placeholder="Ingresa tu nombre" />
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label">Primer Apellido*</label>
                  <input type="text" ngModel name= "lastName" class="form-control form-control-lg" placeholder="Ingresa tu nombre" />
                </div>

                <div class="col-12">
                  <label class="form-label">Fecha de nacimiento*</label>
                  <div class="input-group mb-4">
                    <input
                      class="form-control form-control-lg"
                      placeholder="yyyy-mm-dd"
                      name="dob"
                      ngModel
                      ngbDatepicker
                      #d="ngbDatepicker"
                    />
                    <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
                  </div>
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label">Servicio*</label>
                  <select class="form-select" name="serviceCategory" #teams (change)="onSelected($event)">
                    <option default>Selecciona un servicio</option>
                    <option ngDefaultControl [value]="service._id" *ngFor="let service of pservices">{{service.name}}</option>
                  </select>
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label">Calle y numero*</label>
                  <input type="text" ngModel name="address" class="form-control form-control-lg" placeholder="Ingresa tu calle" />
                </div>

                <!-- <div class="form-outline mb-4">
                  <label class="form-label">Numero exterior/interior*</label>
                  <input type="text" class="form-control form-control-lg" placeholder="Ingresa tu numero exterior/interior" />
                </div> -->

                <!-- <div class="form-outline mb-4">
                  <label class="form-label">Estado*</label>
                  <select class=" form-select">
                    <option Value="1">Estado</option>
                    <option value="2">One</option>
                    <option value="3">Two</option>
                    <option value="4">Three</option>
                  </select>
                </div> -->

                <!-- <div class="form-outline mb-4">
                  <label class="form-label">Municipio*</label>
                  <select class="form-select">
                    <option Value="1">Municipio</option>
                    <option value="2">One</option>
                    <option value="3">Two</option>
                    <option value="4">Three</option>
                  </select>
                </div> -->

                <div class="form-outline mb-4">
                  <label class="form-label">Municipio*</label>
                  <input type="text" ngModel name= "city" class="form-control form-control-lg" placeholder="Ingresa tu municipio" />
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label">Codigo Postal*</label>
                  <input type="text" ngModel name= "zipcode" class="form-control form-control-lg" placeholder="Ingresa tu codigo postal" />
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label">Numero de teléfono*</label>
                  <input type="text" ngModel name= "phoneNumber" class="form-control form-control-lg" placeholder="Ingresa tu numero de teléfono*" />
                </div>

                <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-primary btn-block btn-lg gradient-custom-4 text-body mt-2">Continuar</button>
                </div>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<app-footer></app-footer>
