<div class="container">
    <div class="card mx-auto" style="width: 70%;">
        <img src="" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem culpa unde non
                asperiores consectetur nam tempore ipsa voluptate cupiditate labore deleniti iste rem, soluta sequi
                possimus, eos dolore. Dolore, totam?
                Debitis, eos minus fugiat ipsam, animi tempora cumque omnis cum officiis voluptatem a necessitatibus
                cupiditate. Rerum culpa aut eius quos asperiores eaque sint sit tempora, beatae molestiae autem
                doloribus cumque?
            </p>
        </div>
    </div>
    <button type="button" class="btn btn-warning mt-5 " style="width:150px ; margin-left: 72%;">Editar perfil</button>
</div>

<div class="card"></div>
<div class="button"></div>
<div class="card"></div>